.box {
    border-radius: 2px;
    border: 1px solid var(--orange);
    background: var(--yellow);
    padding: 5px 20px;
    display: flex;
    justify-content: center
}
.message {
    font-size: 14px;
}