.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: var(--black);
    position: relative;
  }
  
  .header h2 {
    position: absolute;
    color: var(--white);
    right: 20px;
    top: 0;
  }

.basket {
  margin-left: auto;
  margin-right: 20px;
}

.logo {
  margin-left: 20px;
}

.button {
  color: var(--white);
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 4px;
  width: auto;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.2s all;
  text-transform: uppercase;
}

.button:hover,
.button:focus,
.button:active {
  border-color: var(--yellow-light);
  background-color: var(--yellow-light);
}

.button + button {
  margin-left: 1px;
}